<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class=" bar-taka ">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button style="color:white!important" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">

    <ion-content>
      <ion-list class="no-padding">


      <div ng-if="logged" menu-close href="#/app/activities">

        <div class="profile-image" style="display:flex;justify-content:center;align-items:center;height:8.5em;">
          <img ng-src="{{user.image_url_large}}" style="width:100px;height:100px;"></img>
        </div>

        <div class="profile-user">
          <span>{{user.first_name}} {{user.last_name}}</span>
          <span>{{user.email}}</span>
        </div>
      </div>

        <!-- <ion-item>
            <div ng-if="logged">
              <div class="profile-image item-avatar">
                <img ng-src="{{user.image_url_large}}"></img>

                <div class="profile-user">
                  <h4>{{user.first_name}} {{user.last_name}}</h4>
                  <h5>{{user.email}}</h5>
                </div>
              </div>
            </div>
        </ion-item> -->

        <ion-item menu-close href="#/app/activities">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/about">
          Sobre o aplcativo
        </ion-item>

        <div class="menu-contributing">
          <button class="button bar-taka button-block icon-left ion-social-github">Seja um colaborador</button>
        </div>
        <div ng-if="isMobile" class="menu-contributing">
            <button ng-click="openGoogleDrive()" class="button taka-dark button-block icon-left ion-android-document">Veja o relatório do app</button>
        </div>
        <div ng-if="!isMobile" class="menu-contributing">
          <a href="https://docs.google.com/document/d/1XrVgZRagMLQbTXF7qWcfQ8sEageP6q9I4S0gBLrt4dk/edit">
            <button class="button taka-dark button-block icon-left ion-android-document">Veja o relatório do app</button>
          </a>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
