<ion-view view-title="Atividades" class="bar-calm">



 <ion-content class="has-header">
    <div class="list">

      <div ng-click="modalShowActivity.show()">
        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.ct.ufrj.br/imagens/fotohallctfabriciocavalcanti.jpg/@@images/0be3ddaf-e7be-499b-b92c-57e9de6f5263.jpeg">
          <h2>Forró do fundão</h2>
          <p>Cidade Universitária  - CT</p>
          <div class="activity-tag-separator">
            <span >CT</span>
            <span >Festa</span>
          </div>
        </a>
      </div>


      <div ng-click="modalShowActivity.show()">
        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.ct.ufrj.br/imagens/fotohallctfabriciocavalcanti.jpg/@@images/0be3ddaf-e7be-499b-b92c-57e9de6f5263.jpeg">
          <h2>Forró do fundão</h2>
          <p>Cidade Universitária  - CT</p>
          <div class="activity-tag-separator">
            <span >CT</span>
            <span >Festa</span>
          </div>
        </a>
      </div>

      <div ng-click="modalShowActivity.show()">
        <a class="item item-thumbnail-left" href="#">
          <img src="http://www.ct.ufrj.br/imagens/fotohallctfabriciocavalcanti.jpg/@@images/0be3ddaf-e7be-499b-b92c-57e9de6f5263.jpeg">
          <h2>Forró do fundão</h2>
          <p>Cidade Universitária  - CT</p>
          <div class="activity-tag-separator">
            <span >CT</span>
            <span >Festa</span>
          </div>
        </a>
      </div>


    </div>


  </ion-content>
</ion-view>
