<div class="modal">
        <header class="bar bar-header bar-calm insta-header">
          <div class="button button-clear left" ng-click="modalShowActivity.hide()"><span class="icon ion-android-arrow-back"></span></div>
          <h1 class="title">Forró do fundão</h1>
        </header>
        <ion-content class="has-header scroll-content ionic-scroll" style="background-color: whitesmoke">

          <div class="list card">

            <div class="item item-avatar">
                <img src="http://www.ct.ufrj.br/imagens/fotohallctfabriciocavalcanti.jpg/@@images/0be3ddaf-e7be-499b-b92c-57e9de6f5263.jpeg">
              <h2>Forró do Fundão</h2>
              <p>Cidade Universitária - CT</p>
            </div>

            <div class="item item-body">
              <img class="full-image" src="http://www.ct.ufrj.br/imagens/fotohallctfabriciocavalcanti.jpg/@@images/0be3ddaf-e7be-499b-b92c-57e9de6f5263.jpeg">
              <p>
              Uma apresentação em família! Em dezembro o Forró LánaLaje
              recebe em edição especial Fidelis do Acordeon e seus filhos Marcelo Mimoso e Edson Fidelis.
              </p>
              <p>
                <i class="icon ion-person-stalker" ></i>
                <a href="#" class="subdued">22 check-ins</a>
                <i class="icon ion-chatboxes" ></i>
                <a href="#" class="subdued">5 Comentários</a>
              </p>
              <p>
                <span href="#" class="subdued taka-button">Visualizar evento</span>
              </p>
            </div>

          </div>

        </ion-content>
      </div>
