<div class="modal">
        <header class="bar bar-header insta-header bar-taka">
          <div class="button button-clear left" ng-click="modalShowActivity.hide()"><span class="icon ion-android-arrow-back"></span></div>
          <h1 class="title">{{selectedEvent.name}}</h1>
        </header>
        <ion-content class="has-header scroll-content ionic-scroll" style="background-color: whitesmoke">

          <div class="list card">

            <div class="item item-avatar">
                <img src="{{selectedEvent.cover.source}}">
              <h2>{{selectedEvent.name}}</h2>
              <span style="font-size: xx-small; float:right;">{{selectedEvent.start_time | date:"dd/MM/yyyy 'as' h:mma"}}</span>
              <p>{{selectedEvent.place.name}}</p>
            </div>

            <div class="item item-body">
              <img class="full-image" src="{{selectedEvent.cover.source}}">
              <p>
                {{selectedEvent.description | limitTo: textLength}}
                 <a ng-click="changeLength(selectedEvent)" class="showMore" style="margin-left: 1em; cursor: pointer"><strong>Ler mais</strong></a>
              </p>
              <p>
                <i class="icon ion-person-stalker" ></i>
                <a href="#" class="subdued">22 check-ins</a>
                <i class="icon ion-chatboxes" ></i>
                <a href="#" class="subdued">5 Comentários</a>
              </p>
              <p>
                <a href={{selectedEvent.eventURL}}> </a>
                <span class="subdued taka-button">Visualizar evento</span>
              </p>
            </div>

          </div>

        </ion-content>
      </div>
