/* Empty. Add your own CSS if you like */



@font-face {
  font-family: 'RobotoSlab-Thin';
  src: url('../fonts/RobotoSlab-Thin.ttf');
}

@font-face {
  font-family: 'RobotoSlab-Light';
  src: url('../fonts/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: 'RobotoSlab-Bold';
  src: url('../fonts/RobotoSlab-Bold.ttf');
}

*{
  font-family:'RobotoSlab-Regular'!important;
  font-weight: 400;
}

.taka-button{
      border: 1px solid #DDE5EC;
      color: #373737;
      /*background-color: #6AA7E7;*/
      background-color: #DDE5EC;
      font-size: 0.9em;
      border-radius: 5px;
      float: right;
      margin: 0em;
      padding: 0.25em 0.4em;
      cursor: pointer;
}

.activity-tag-separator{
    float: left;
    margin: 0.3em 0.5em 0.2em 0em
}

.activity-tag-separator > span{
    /*border: 1px solid #DDE5EC;*/
    color: #373737;
    /*background-color: #6AA7E7;*/
    /*background-color: #DDE5EC;*/
    font-size: 0.8em;
    border-radius: 5px;
    margin: 1em 0em 0em 0em;
    float: right;
    /*margin: 0em 0.75em 0em 0em;
    padding: 0.25em 0.4em;*/
}

.check-button{
  color:green;
}

.bar-taka{
  background-color: #e9535f;
  color: white;
}

.bar-taka > .title{
  color: white;
  font-family:'RobotoSlab-Bold'!important;
}

.bar-taka > div > span{
  color: white;
}


.scroll {
  height: 100%!important;
}

.blue-button{
  background-color: #5483C1!important;
  color: white;
}

.menu-contributing{
  margin: 1em;
}

.menu-contributing button:hover{
  color:white!important;
}

.menu-contributing a{
  color: white;
  text-decoration:none;
}

.taka-dark{
  background-color: #373737; color: white
}


.profile-image{
  min-height: 8.5em;
  /*max-width:  90px!important;
  max-height: 90px!important;*/
  background-color: #e9535f;
}

.no-padding > list{
  padding: none!important;
}

.profile-image img{
  border-radius: 50%;
  max-width:  90px!important;
  max-height: 90px!important;
}

.profile-user > span{
  color: white!important;
}

.profile-user{
  text-align: center;
  padding-bottom: 1.5em;
  background-color: #e9535f;
}

.profile-user > span:first-of-type{
  font-family:'RobotoSlab-Bold'!important;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.5px;
}


/*#232323
#282828
#1573dd
#bd081c
#aaaaaa*/
